/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root{
    --vermelho: #b11c2a;
    --azul: #0091a4;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their wrapper */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/*-----------------------------------------------------------------------------------*/
/*margin 14%*/
body {
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  background-color: #F2F2F2;
}

/*------------------------------HEADER------------------------------------------*/

header .wrapper {
  width: 100%;
  height: 143px;
  background-color: #F2F2F2;
  /*position: fixed;*/
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 71px 14%;
}

.logo {
  width: auto;
  height: 84px;
} 

.headerNavBar {
  width: 25%;
}

.headerNavBar li {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
  text-align: right;
}

/*-------------------------------MAIN-----------------------------------------*/

/*----------------feiraDeEmprego-------------------*/

main .wrapper {
  margin-left: 14%;
  margin-right: 14%;
}

main .wrapper .containerFeiraDeEmprego {
  display: flex;
}

main .wrapper .containerFeiraDeEmprego .feiraDeEmpregoDataLocal {
  width: 47%;
}

main .wrapper .containerFeiraDeEmprego .imagemHeroi {
  width: 47%;
}

/*----------------infoEvento-------------------*/

main .wrapper .containerInfoEvento {
  width: 100%;
}

/*----------------Parceiros-------------------*/

main .wrapper .containerParceiros .organizadoresParceirosGold {
  display: flex;
}

main .wrapper .containerParceiros .organizadoresParceirosGold .organizadores {
  width: 47%;
}

main .wrapper .containerParceiros .organizadores .logosDosOrganizadores {
  display: flex;
}

main .wrapper .containerParceiros .organizadoresParceirosGold .parceirosGold {
  width: 47%;
}

main .wrapper .containerParceiros .organizadoresParceirosGold .logosDosOParceirosGold {
  display: flex;
}

main .wrapper .containerParceiros .parceirosSilver {
width: 100%;
}

main .wrapper .containerParceiros .logosDosParceirosSilver {
  display: flex;
}

/*-----------------------------FOOTER-------------------------------------------*/

footer {
  background-color: #707070;
}

footer > div.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 14%;
  margin-right: 14%;

  color: white
}

footer.wrapper .redesSociaisLogos {
  display: flex;
}

h1 {
  font-size: 2.2em;
  font-weight: normal;
}
h2 {
  font-size: 1.8em;
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
  font-weight: bolder;
}
h4{
  font-size: 1em;
  font-weight: normal;
}

.textCenter {
  text-align: center;
}