/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --vermelho: #b11c2a;
  --azul: #0091a4;
  --branco: #fff;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their wrapper */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/*-----------------------------------------------------------------------------------*/
html{
  scroll-behavior: smooth;
}

/*margin 14%*/
body {
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  background-color: #f2f2f2;
  min-height: 100vh;
}

/*------------------------------HEADER------------------------------------------*/
header.container {
  width: 100%;
  height: 143px;
  background-color: #f2f2f2;
  position: fixed;
}

header.container .wrapper {
  width: 75%;
  margin: 0 14%;
  padding-top: 1.5%;
}

header.container .wrapper .logoImagem {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

header.container .wrapper .logoImagem .logo {
  width: auto;
  height: 84px;
}

header.container .wrapper .navbar {
  display: inline-block;
  text-align: right;
  width: 93%;
}

header.container .wrapper .headerNavBar {
  width: 100%;
}

header.container .wrapper .headerNavBar li {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-left: 5%;
  cursor: pointer;
}

/*-------------------------------MAIN-----------------------------------------*/

.top{
  position:fixed;
  bottom: 40px;
  right: 40px;
  z-index: 2;
}

.imgGoTopOutline{
  background-image: url("../imagens/scroll-up-50-outline.png");
  width: 50px;
  height: 50px;
}
.goTopfull{
  background-image: url("../imagens/scroll-up-50-full.png");
  width: 50px;
  height: 50px;
}

/*----------------feiraDeEmprego-------------------*/
main .wrapper {
  margin-left: 14%;
  margin-right: 14%;
  padding-top: 143px;
}

main .wrapper .containerFeiraDeEmprego .feiraDeEmpregoDataLocal {
  width: 47%;
  display: inline-block;
  vertical-align: middle;
}

main .wrapper .containerFeiraDeEmprego .feiraDeEmpregoDataLocal h1 {
  font-size: 5.2em;
  font-weight: normal;
}

main .wrapper .containerFeiraDeEmprego .feiraDeEmpregoDataLocal h1 span {
  font-weight: 600;
  color: #b11c2a;
}

main .wrapper .containerFeiraDeEmprego .feiraDeEmpregoDataLocal h2 {
  font-size: 2.1em;
  font-weight: 300;
}

main .wrapper .containerFeiraDeEmprego .feiraDeEmpregoDataLocal h3 {
  font-size: 1.8em;
  font-weight: 200;
}

main .wrapper .containerFeiraDeEmprego .imagemHeroi {
  width: 47%;
  display: inline-block;
  vertical-align: middle;
}

/*----------------infoEvento-------------------*/

main .wrapper .containerInfoEvento {
  width: 100%;
  height: 300px;
  background-color: #0091a4;
  color: white;
}

main .wrapper .containerInfoEvento p:first-child {
  padding-top: 10%;
  margin-bottom: 3%;
}

/*----------------Parceiros-------------------*/

main .wrapper .containerParceiros .organizadoresParceirosGold {
  display: flex;
}

main .wrapper .containerParceiros .organizadoresParceirosGold .organizadores {
  width: 47%;
}

main .wrapper .containerParceiros .organizadores .logosDosOrganizadores {
  display: flex;
}

main .wrapper .containerParceiros .organizadoresParceirosGold .parceirosGold {
  width: 47%;
}

main
  .wrapper
  .containerParceiros
  .organizadoresParceirosGold
  .logosDosOParceirosGold {
  display: flex;
}

main .wrapper .containerParceiros .parceirosSilver {
  width: 100%;
}

main .wrapper .containerParceiros .logosDosParceirosSilver {
  display: flex;
}

/*----------------sobre-------------------*/

main .wrapper .containerSobre {
  width: 100%;
  display: flex;
}

main .wrapper .containerSobre .textoSobre {
  width: 47%;
}

main .wrapper .containerSobre .textoSobre h1 {
  font-size: 1.8em;
  font-weight: normal;
}

main .wrapper .containerSobre .imagemSobre {
  width: 47%;
}

/*-----------------------------FOOTER-------------------------------------------*/

footer {
  background-color: #515151;
  position: relative;
  margin-top: 3.5%;
  /*bottom: 0;*/
}

footer > div.wrapper {
  margin-left: 14%;
  margin-right: 14%;
  color: white;
}

footer .wrapper .containerFooter {
  width: 100%;
  padding-top: 4.2%;
  padding-bottom: 4.2%;
  text-align: center;
}

footer .wrapper .containerFooter .containerContacto {
  padding-bottom: 2%;
}

footer 
.wrapper 
.containerFooter 
.containerContacto
.containerEmail 
.emailImagem {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 25px;
}

footer 
.wrapper 
.containerFooter 
.containerContacto
.containerEmail 
.emailTexto {
  display: inline-block;
}

footer 
.wrapper 
.containerFooter
.containerContacto
.containerTelefone 
.telefoneImagem {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 25px;
}

footer 
.wrapper 
.containerFooter 
.containerContacto
.containerTelefone 
.telefoneTexto {
  display: inline-block;
}

footer 
.wrapper 
.containerFooter
.containerContacto
.containerLocalizacao {
  display: inline-block;
}

footer 
.wrapper 
.containerFooter 
.containerContacto
.containerLocalizacao 
.localizacaoImagem {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 25px;
}

footer 
.wrapper 
.containerFooter 
.containerContacto
.containerLocalizacao 
.localizacaoTexto {
  display: inline-block;
}

.containerEmail,
.containerTelefone,
.containerLocalizacao,
.containerRedesSociais {
  display: inline-block;
  padding: 0 2% 0 2%;/*top, right, bottom, left*/
}

footer 
.wrapper 
.containerFooter 
.containerRedesSociais 
.wrapperRedesSociais {
  width: auto;
  height: 25px;
  display: inline-block;
}

footer
.wrapper
.containerFooter
.containerRedesSociais
.wrapperRedesSociais
.youtubeLogo,
.instagramLogo,
.facebookLogo {
  display: inline-block;
  width: auto;
  height: 25px;
}

.containerRedesSociais {
  vertical-align: middle;
}

.wrapperRedesSociais {
  padding: 5px;
}

.containerRedesSociais img {
  width: 20px;
}

footer 
.wrapper
.containerFooter
.simboloFooter{
  width: 50px;
  margin: 1%;
}

footer 
.wrapper
.containerFooter
.containerTermos {
  font-size: 16px;
  font-weight: 200;
}

.textCenter {
  text-align: center;
}